button:focus {
  outline: none;
}

button.primary {
  background: var(--color-accent);
  border: 1px solid var(--color-accent-shade);
  box-sizing: border-box;
  border-radius: var(--border-radius-big);
  height: 36px;
  padding: 0 12px;
  min-width: 83px;
  color: var(--color-text-light);
  text-shadow: var(--shadow);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

button.primary:hover {
  background: var(--color-accent-shade);
  border: 1px solid var(--color-accent-shade);
  color: var(--color-text-light);
  text-shadow: var(--shadow);
  font-size: 14px;
  font-weight: 600;
}

button.primary:disabled {
  background: var(--color-bg-light-2);
  border: 1px solid var(--color-border);
  color: var(--color-text-light-2);
  text-shadow: none;
  cursor: default;
}

button.toolbar {
  background: transparent;
  border: none;
  box-sizing: border-box;
  height: 36px;
  padding: 0 12px;
  color: var(--color-text-base);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

button.toolbar:hover {
  color: var(--color-accent);
}



