.dialog {
  border-radius: var(--border-radius-big);
  box-shadow: 0px 2px 9px rgba(80, 103, 132, 0.8);
}

.dialog-header {
  height: 46px;
  line-height: 46px;
  padding: 0 22px 0 12px;
  color: var(--color-text-base);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-body {
  min-height: 60px;
  background-color: var(--color-bg-light);
  padding: 24px;
  border-top: 1px solid var(--color-border-light);
  color: var(--color-text-base);
  font-size: 13px;
}

.dialog-buttons-container {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-bg-light);
  padding: 24px;
}

.dialog-buttons-container button {
  margin-left: 16px;
}

.vm--overlay {
  background-color: rgba(162, 177, 198, 0.5);
}
