/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 5px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 10px;
}
