/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ebf0f8; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 10px;
  }
  