.icon-tooltip {
  background-color: rgba(80, 103, 132, 0.85);
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 0 6px;
  line-height: 19px;;
  position: fixed;
  height: 19px;
  border-radius: var(--border-radius-medium);
  white-space: nowrap;
  z-index: 999;
}