name: Deploy to GitHub Pages
on:
  workflow_dispatch:
  push:
    tags:
    - '*'	
    branches:	
      - master

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@master
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - name: npm install and build
      run: |
        npm install
        npm run build

    - name: Deploy
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: build
        FOLDER: dist/
        SSH_PRIVATE_KEY: ${{ secrets.GITHUB_TOKEN }}
