name: Run tests
on:
  workflow_dispatch:
  push:
    branches:
    - 'master'
  pull_request:
    branches:
    - 'master'

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - name: Install browsers
      run: |
        export DEBIAN_FRONTEND=noninteractive
        sudo apt-get update
        sudo apt-get install -y chromium-browser firefox

    - name: Install the project
      run: npm install

    - name: Run lint
      run: npm run lint -- --no-fix

    - name: Run karma tests
      run: npm run test
